body {
    margin: 0;
    padding: 0;
}

.people {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    width: 900px;
    height: 100%;
    margin: 30px auto 0;
    }

.person {
    width: 200px;

}
.photo {
    position:relative;
}

.photo img {
    width: 200px;
    border-radius: 200px;
}

.rank {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    color: #8B0000;
    top: 42%;
    left: 78%;
    
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.details a {
    font-family: Arial;
line-height: 23px;
color: #2F4F4F;
}

.extra {
    display: none;
    font-family: Arial;

    color: #000000;
}


.person:hover {
    background: #EEEEEE;
    border-radius: 12px;
    transform: scale(1.2, 1.2);
    transition: all 1s;
    
} 
.person:hover .photo img {
    border-radius: 60px;
}

.person:hover .extra {
    display: block;
    font-family: Arial;
    color: #000000;
}



@media (max-width: 1000px) {
    .people {
        grid-template-columns: repeat(4, minmax(150px, 200px));
        width: 100%;
        box-sizing: border-box;
        padding: 0 50px
    }

    .person {
        width: 100%;
    }

    .photo img {
        width: 100%;
    }
     
}

@media (max-width: 750px) {

    .people {
        display: grid;
        grid-template-columns: repeat(2,minmax(150px, 200px));
        width: 530px;
    }
     
}


@media (max-width: 550px) {

    .people {
        display: grid;
        grid-template-columns: repeat(2,minmax(150px, 200px));
        width: 500px;
        padding: 0 35px
    }
     
}